#adminDashboard {
    display: flex;
    flex-direction: column;
    max-width: 100vh;
}

 // Estilo para pantallas más grandes
 @media (min-width: 768px) {
    #adminDashboard {
        flex-direction: row;
        max-width: 100vh;
    }
  }